@import './antd-theme-override.less';

// Buttons
.ant-btn:hover {
  color: @sand-150;
  border-color: @sand-150;
}

.ant-btn-primary {
  border-color: @sand-150;
}
.ant-btn-primary:hover {
  color: @white;
  background-color: @sand-150;
}

.ant-btn-danger:hover {
  color: @white;
  background-color: @red-100;
  border-color: @red-150;
}

.ant-btn-background-ghost.ant-btn-danger {
  color: @red-100;
  border-color: @red-100;
}

.ant-btn-background-ghost.ant-btn-danger:hover {
  color: @red-150;
  border-color: @red-150;
}

.ant-tabs-tab-active {
  font-weight: 700;
}

.ant-anchor-link-title {
  color: @brand;
}

.ant-anchor-link-title:hover {
  color: @brand;
  text-decoration: underline;
}
